body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


.plot {
    width: 96px;
    height: 96px;
    margin: 8px;
    background-image: url('images/plot.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plot.not {
    width: 96px;
    height: 96px;
    margin: 8px;
    background-image: url('images/not_plot.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plot.planted {
    background-image: url('images/planted_plot.png');
}

.plot.grow {
    background-image: url('images/planted_plot.png');
}

#farm-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los cuadrados */
    position: fixed;
    bottom: 0;
    left: 100px; /* Ajusta esto si quieres que esté centrado o a la derecha */
    z-index: 110;
}

.hidden {
    display: none;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-10000%);
    }
}

.plot.slide-out {
    animation: slideOut 1s forwards;
}

.corral {
    background-image: url('images/corral.PNG');
    background-size: cover;
    width: 65%;
    height: 45%;
}

